*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.mt-n1 {
    margin-top: -0.25rem !important;
  }

.kuda{
    width: 100%;
    min-height: 800px;
    /* border: 2px solid black; */
   
}
#true{
    background-image: url(pictures/bg.png);
    object-fit: cover;
}
#com{
    background-color: gray;
}
@media (min-width:300px) and (max-width:500px){
    #ok{
        text-align: center;
    }
    #nah{
        text-align: left;
    }
    #finn{
        position: fixed;
    }
    #chuka{
        display: none;
    }
}